<h1>Upload an Answer</h1>

<h4> Please Submit work that is correct to the best of your knowledge. And conforms to our rules and regulations. Your answer is permanent..
 Thank you </h4>



<br><br><br><br>
<%= link_to 'Submit New Answer', new_question_answer_path(@question) %>
<%= link_to 'Back', questions_path %>